.formulario input, .navbar input {
  border: 3px solid white;
  border-radius: 0;
  padding: 2px 7px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.formulario input:focus, .navbar input:focus, .formulario input:active, .navbar input:active {
  border: 3px solid white;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
  color: white;
}

label::before, label.filled::before {
  padding-right: 7px;
  color: cornflowerblue;
  font-weight: 700;
  font-family: "Source Code Pro", Raleway, monospace;
  display: inline-block;
  width: 20px;
}

/* CSS Document */
body {
  font-family: "Montserrat", "Helvetica Neue", Arial;
  color: rgba(0, 0, 0, 0.65);
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

h2 {
  text-transform: uppercase;
  font-family: "Playfair Display", Georgia, serif !important;
  color: rgba(0, 0, 0, 0.75);
}

@media (min-width: 338px) {
  h2::before {
    content: "";
    display: inline-block;
    margin: 0 14px 10px 0;
    width: 14%;
    height: 2px;
    background-color: #CC0033;
  }
  h2::after {
    content: "";
    display: inline-block;
    margin: 0 0 10px 14px;
    width: 14%;
    height: 2px;
    background-color: #CC0033;
  }
}

@media (min-width: 338px) and (max-width: 575px) {
  h2::before {
    content: "";
    display: inline-block;
    margin: 0px 7px 10px 0px;
    width: 21px;
    height: 2px;
    background-color: #CC0033;
  }
  h2::after {
    content: "";
    display: inline-block;
    margin: 0 0 10px 7px;
    width: 21px;
    height: 2px;
    background-color: #CC0033;
  }
}

.linha {
  min-height: 600px;
}

.formulario {
  background: #eaeaea;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.formulario input {
  background: transparent;
}

.btn {
  border-radius: 0;
  color: white;
  border: none;
  text-transform: uppercase;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

.btn:not(.btn-limpar):not(.btn-addon), .btn:not(.btn-limpar):not(.btn-addon):focus, .btn:not(.btn-limpar):not(.btn-addon):active {
  background: #CC0033;
  background: -moz-linear-gradient(top, #CC0033 0%, #de2557 100%) !important;
  background: -webkit-linear-gradient(top, #CC0033 0%, #de2557 100%) !important;
  background: -o-linear-gradient(top, #CC0033 0%, #de2557 100%) !important;
  background: -ms-linear-gradient(top, #CC0033 0%, #de2557 100%) !important;
  background: linear-gradient(to bottom, #CC0033 0%, #de2557 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CC0033', endColorstr='#de2557', GradientType=0 ) !important;
}

.btn-default, .btn-secondary {
  background: #6C757D;
}

.table .far, .table .fas {
  color: #CC0033;
}

th {
  border-top: none !important;
}

td, th {
  border-bottom: 3px solid white !important;
}

.navbar-brand h1 {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 700;
}

.navbar-brand h1::after {
  content: "";
  display: block;
  margin: 4px 0 0 0;
  width: 100%;
  height: 2px;
  background-color: #CC0033;
}

.navbar li > a {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navbar li .far, .navbar li .fas {
  color: #CC0033;
}

.navbar .dropdown-item::before {
  content: "\2014  ";
  color: #CC0033;
  font-weight: bold;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
  background: #6C757D !important;
}

.navbar input {
  background: rgba(255, 255, 255, 0.25);
  font-family: "Playfair Display", Georgia, serif;
  font-style: italic;
}

.bg-primaria {
  background: #CC0033;
}

.btn-texto::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.btn-texto:hover::after {
  width: 100%;
  background: white;
}

.btn-addon {
  background: #CC0033;
  color: white !important;
  border-right: 1px solid white;
}

.search-field:focus {
  font-style: normal;
}

label::before {
  content: "*";
}

label.filled::before {
  content: "\2713";
}
